{% extends '::base.html.twig' %}

{% block body -%}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-2">
    <h1>Article creation</h1>


    {{ form(form) }}

            <a href="{{ path('article') }}">
                <span class="glyphicon glyphicon-arrow-left">Retour</span>
            </a>
        </div>
    </div>
</div>
{% endblock %}
